*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'poppins',sans-serif;

}
body{
    background-color: #18392F;
    position: relative;


}
.heading{
    backdrop-filter: blur(6px);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    align-items: center;
    position: fixed;
    z-index: 1000;
    /* padding-bottom: 40px; */

}

.bars{
    display: none;
}
.left-side{
    display: flex;
    gap: 1em;
    z-index: 999;
    
}
/* .id{
    transition: all 3s ease; */    

.left-side img{
    border-radius: 30px;
}
.left-side span{
    margin: auto;
    color: #ffffff;
}
.hero-sect ul{
    display: flex;
    gap: 2em;
    /* border: 2px solid red; */
    /* padding: 15px;
    border-radius: 40px;
    background-color: #1daa80; */
    
}
.ooo{
    padding: 50px;
    padding-top: 250px;
    
}
.middle-sect{

}

.hero-sect a{
    color: white;
    font-size: 1.2em;

}
.service{
    
}
.middle-sect2{
    text-align: center;
    color: #ffffff;
    font-size: xx-large;
    padding-top: 0px;
    margin-bottom: 90px;
}

.middle-sect2 span{
    font-weight: 200;
}
.me2{
    text-align: center;
    color: #ffffff;
    padding-bottom: 90px;
}
.me2 h3{
    font-size: xx-large;
}
.me2 p{
    font-size: larger;
    : 50px;
}
.hero-side{
    background-color: rgba(54, 52, 52, 0.842);
}
.hero-side h1{
    text-align: center;
    color: #ffffff;
    padding-bottom: 70px;
    font-size: 3em;
}
.hero{
     display: flex;
    gap: 3em;
}

@media(max-width:823px){
    .bars{
        display: block;
    }
    .hero-sect{
        display: none;
    }
}



.what i{
    font-size: 4em;
    color: #ffffff;
    position: absolute;
    left: 1250px;
    top: 550px;
    position: fixed;
    
}

 /* about  */
.middle-sect{
    /* border: 2px solid red; */
    background-color: #18392F;
    color: white;
    padding: 40px;
    margin-bottom: 90px;
}
.middle-sect h1{
    text-align: center;
    padding-top: 30px;
    /* padding-bottom:border 2px solid red; */
    
}

.middle-sect hr {
    width: 25%;
    margin: auto;
    padding-top: 5px;
    /* border-radius: 10px; */
    background-color: #1daa80;
    animation-name: run;
    animation-iteration-count: infinite;
    animation-duration: 3S;
}
@keyframes run{
    0%{
        transform: translateX(0PX);
    }
    50%{
        transform: translateX(40PX);
    }
    100%{
        transform: translateX(0PX);
    }

}
.info{
    display: flex;
    align-items: center;
    gap: 4em;
    padding-left: 130px;
    
    
}
.info img{
    padding-top: 30px;
    animation-name: hold;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@keyframes hold{
    0%{
        transform: translateY(00px);
    }
    25%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}
.infoo{
    align-items: left;
}

.info h1{
    text-align: left;
    font-size: 3em;
    padding-bottom: 20px;
}
.info p{
    font-size: 1.3em;
}
.me{
    /* border: 2px solid red; */
    width: 150px;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #208365; 
    text-align: center;
    margin-top: 20px;
}
.me a {
    color: black;
    text-align: center;
    
}

.me:hover{
    background-color: white;
    color: black;
}
.me a:hover{
    color: black;
}


   /* services */
.service{
    text-align: center;

}
.service h2{
    font-family: "syne", sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 3em;
}
.service-grid{
    padding: 30px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1em;
}
.service-card{
    background-color: #ffffffb6;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 50px 10px;
}
.service-card:hover{
    box-shadow: 0 4px 15px #00ffb3
}
.service-card p{
    text-align: left;
}
.all .fa-github{
    font-size: 3.5em;
    color: #ffffff;
}


.all ul{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}
.all ul li img{
    width: 50px;
}
.tt{
    padding: 20px;
    border: 2px solid red;
}



/* .skill{
    height: 100vh;
    
}


.skill h1{
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    padding-top: 20px;
}
.skill p{
    font-size: x-large;
    margin-top: 30px;
    color: #ffffff;
}
.oooo{
    display: flex;
    gap: 2em;
}
.skill hr{
    width: 50%;
    padding: 2px;
    background-color: #2ff5f2;
} */

.skill-contain{
    /* padding: 30px; */
 
}

.skill{
    background-color: #208365;
    border: none;
}
.skill-contain h1{
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
    padding: 0px 30px;
    
}
.skills a{
    color: #ffffff;
}
.skill-contain hr{
    border: 2px solid white;
    width: 25%;
    margin: auto;
    margin-bottom: 80px;
}
.skill.skill1{
    /* border: 2px solid red; */
    margin-bottom: 0px;
}
.skill.skill2{
    margin-bottom: 30px;
}

.skills{
    gap: 3em;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;   
}
.skill{
    /* border: 2px solid red; */
    width: 400px;
    height: 400px;
    
}
.skills{
    
}
.skill img{
    padding-top: 50px;
    width: 400px;
    height: 400px;
}
.skill h1{
    text-align: left;
    color: #ffffff;
}


     /* contact */

.contact{
    background-color: #20ce9ab7;
    
    padding: 100px 20px;
    align-items: center;
    border: 2px solid aliceblue;
}
.contact h2{
    font-family: "syne", sans-serif;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 3em;
}
.contact p{
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid yellow;
    border-radius: 6px;
    font-family: inherit;
}
.submit{
    /* border: 2px solid yellow; */
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    /* transition: all 0.3s; */
}
.submit:hover{
    color: #ffffff;
    background-color: #1daa80;
    transition: all 1s ease;
}


   /* medaiquery */

@media(max-width:1244px){
    .info{
        flex-direction: column;
    }
    .infoo br{
        display: none;
    }
    
}
@media(max-width:882px){
    .skills{
        gap: 2em;
    }
}

@media(max-width:668px){
    .ooo{
        padding: 30px;
        padding-top: 200px;
    }
    .middle-sect2 h1{
        font-size: 1.3em;
    }
    .me2 h3{
        font-size: 1.4em;
    }
    .me2 p{
        font-size: 1em;
    }
    .info{
        padding-left: 30px;
    }
    .info img{
        width: 200px;
        height: 300px;
    }
    .infoo h1{
        font-size: 2em;
    }
    .skills{
        margin: auto;
        align-items: center;
    }
}
@media(max-width:430px){
    .ooo{
        padding: 0px;
        padding-top: 150px;
    }
    .middle-sect2 h1{
        font-size: 30px;
    }
    .me2 h3{
        font-size: 16px;
    }
    .me p{
        font-size: 12px;
    }

    .skill{
        width: 300px;
        height: 300px;
    }
    .skills img{
        width: 300px;
        height: 300px;
    }
}



@media(nax-width:430px){
    
}
